<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title HarmansList | Create A Listing
        style
            include listingcreate.css
       
    body

    div#listing-wrapper
        h1 Create a listing!
        p Create a listing that will be discoverable by other users
        // variables

        - var username = username;

        form(method="POST" action="/user/" + username + "/createlisting" enctype="multipart/form-data")
            input#title(type="text" name="title" placeholder="title")
            br
            input#message(type="text" name="message" placeholder="message")
            br 
            input#file(type="file" name="photo" accept="image/x-png")
            br
            input#submit(type="submit" value="Submit Listing")
        
    
